
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
  }

  :root {
    --cadet-grey: #959BB5;
    --chinese-black: #0A1123;
    --american-blue: #3A3E6C;
    --ube: #8387C3;
    --cool-grey: #8A8CAC;
    --bright-grey: #E6EFF7;
  }
  
  

  body {
    background: linear-gradient(135deg, var(--cadet-grey), var(--chinese-black));
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container {
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 400px;
    color: white;
    text-align: center;
  }

  h1 {
    margin-bottom: 24px;
    color: var(--bright-grey);
    font-size: 46px;
    font-weight: 1000px;

  }

  input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    font-size: 16px;
  }

  button {
    width: 100%;
    padding: 12px;
    margin-top: 16px;
    background-color: var(--american-blue);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
  }

  button:hover {
    background-color: var(--ube);
  }
  #resultado {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: var(--bright-grey); 
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  
  #resultado.mostrar {
    opacity: 1;
    transform: translateY(0);
  }
  
  #resultado.esconder {
    opacity: 0;
    transform: translateY(1px);
  }
  